html{
    font-family: 'Cinzel', serif;
    background-color: #DAE3E2;
    font-size: 80%;
    letter-spacing: 1px;
}
header,body,html{
    width: 95%;
    height: 100%;
    margin: auto;
}
/*title*/
h1{
    background-color: #9BB0B5;
    border:2px solid white;
    border-radius: 8px;
    color: whitesmoke;
    box-shadow: 5px 5px 2px grey;
    text-align: center;

   
    
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 2em;
    padding: 3%;
    
   
    
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  transition: transform .2s; /* Animation */
  width:90%;
  
}




/* CHECKED STYLES */
[type=radio]:checked + img  {
  /*outline: 2px solid black;*/
  border: 2.1px solid red;
  border-radius: 10px;  
  box-shadow: 1px 1px 3px black;

}
[type=radio]:not(:checked) + img {
    opacity: 0.75;
}
[type=radio] + img:hover{
    transform: scale(1.1);
    opacity: 1;
}
fieldset{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
legend{
    font-size: 1.3rem;
}
div h3{
    
    margin: 0;
    padding: 0;
    font-size: 10px;
    text-align: center;
    width: 60px;
}

/* Ability Scores*/
.abilities{
    text-align: justify;
   flex-basis: 100%; 
    padding: 1%;
    display: flex;
    justify-content: space-between;
    margin: 0 20%
}
.abilities input{
    width: 15%;
    text-align: center;
    height: 25px;
    font-family: serif;
    font-weight: 800;
    
}
/*Input Button*/
input[type="submit" ] {
    border: white solid 1px;;
    background-color: #9BB0B5;
    border-radius: 5px;
    padding: 15px 40px;
    margin: auto;
    color: white;
    font-style: italic;
    cursor: pointer;
    font-size:15px;
    box-shadow: 2px 2px 2px grey;
   
}
.inputButton {
  text-align: center;
    margin: auto;
