:root{
    --radius: 10px;
    --sheet-width:800px;
    --faded: #ddd;
    --faded-light:#eee;
    --faded-dark: #bbb;
    --gutter: 10px;
    --bubble-size:10px;
    --small-box-width:30px;
    --large-box-width: 70px;
}

html{
        font-family: 'Cinzel', serif;
        background-color: 		white;
        font-size: 80%;
        letter-spacing: 1px;
    }

.red{
    background: red;
}

.blue{
    background: blue;
}

.hide{
    display:none;
    !important;
}

textarea {
    font-size: 12px;
    text-align: left;
    width: calc(100% - (var(--radius) * 2) - 2px);
    border-radius: var(--radius);
    padding: var(--radius);
    resize: none;
    overflow: hidden;
    height: 15em;
}

input[type="checkbox"] {
    cursor: pointer;
}

div.box{
    margin-top: var(--gutter);
}


form.charsheet{
    width: var(--sheet-width);
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;

    div.textblock{
       display: flex;
       flex-direction: column-reverse;
       width: 100%;
       align-items: center;
       label{
          text-align:center;
          border: 1px solid black;
          border-top: 0;
          font-size: 10px;
          width: calc(100% - (var(--radius) * 2) - 2px);
          border-radius: 0 0 var(--radius) var(--radius);
          padding: 4px 0;
          font-weight: bold;
          }
       textarea{
          border: 1px solid black;
          }
    }

    ul{
       margin: 0;
       padding: 0;

        li{
          list-style-image: none;
          display: block;
        }
      }
    ::placeholder{
       color: var(--faded-dark);
     }
    label{
        text-transfrom:uppercase;
        font-size: 12px;
    }
    header{
        display: flex;
        align-contents: stretch;
        align-items: stretch;
        section.charname{
            border: 1px solid black;
            border-right: 0;
            border-radius: var(--radius) 0 0 var(--radius);
            padding: 5px 0;
            background-color: var(--faded-light);
            width: 30%;
            display: flex;
            flex-direction: column-reverse;
            bottom: 0;
            top: 0;
            margin: auto;

            input {
                 padding: 0.5em;
                 margin: 5px;
                 border: 0;
            }
            label{
                 padding-left: 1em;
            }
        }
        section.misc{
            width: 70%;
            border: 1px solid black;
            border-radius: var(--radius);
            padding-left: 1em;
            padding-right: 1em;

              ul{
                 padding: 10px 0px 5px 0px;
                 display: flex;
                 flex-direction: wrap;
                 li{
                    width: 33.33333%;
                    display: flex;
                    flex-direction: column-reverse;
                    label{
                       margin-bottom: 5px;
                    }
                    input{
                       border: 0;
                       border-bottom: 1px solid var(--faded);
                    }
                 }
              }
        }
    }
    main{
       display: flex;
       justify-content: space-between;
       margin-top: var(--gutter) * 2;

       div.label-container{
           position: relative;
           width: 100%;
           height: var(--small-box-width) - var(--radius) - 2px;
           margin-top: var(--radius) / 2 + 1px;
           border: 1px solid black;
           border-left: 0;
           text-align: center;

           >label{
               position: absolute;
               left: 0;
               top: 1px;
               transform: translate(0%, 50%);
               width: 100%;
               font-size: 8px;
           }
       }
       >section{
           width:32%;
           display: flex;
           flex-direction: column;
           section.attributes{
               --attr-width: 70px;
               --attr-height: 80px;
               --attr-gutter: 31px;
               width: 100%;
               display: flex;
               flex-direction: row;
               justify-content: space-between;

               div.scores{
                   width: var(--attr-width) + var(--attr-gutter);
                   background-color: var(--faded-dark);
                   border-radius: var(--radius);
                   padding-bottom: var(--gutter) / 2;

                   label{
                       font-size: 8px;
                       font-weight: bold;
                   }

                   ul{
                       display: flex;
                       flex-direction: column;
                       justify-content: space-around;
                       align-items: center;
                       height: 100%;

                       li {
                           height: var(--attr-height);
                           width: var(--attr-width);
                           background-color: var(--bg);
                           border: 1px solid black;
                           text-align: center;
                           display: flex;
                           flex-direction: column;
                           border-radius: var(--radius);

                           input{
                           width: 100%;
                           padding: 0;
                           border: 0;
                           }

                           div.score{
                               input{
                                    text-align: center;
                                    font-size: 40px;
                                    padding: 2px 0px 0px 0px;
                                    background: var(--bg);
                               }
                           }

                           div.modifier{
                               margin-top: 3px;
                               input{
                                  background: var(--bg);
                                  width: var(--radius) * 3;
                                  height: var(--radius) * 2;
                                  border: 1px inset black;
                                  border-radius: var(--radius) * 2;
                                  margin: -1px;
                                  text-align: center;
                               }

                           }
                       }
                   }
               }

               div.attr-applications{
                      div.inspiration{
                              display: flex;
                              flex-direction: row-reverse;
                              justify-content: flex-end;
                              input{
                                   width: var(--small-box-width);
                                   height: var(--small-box-width) - 2;
                                   border: 1px solid black;
                                   text-align: center;
                                   border-radius: var(--radius);
                              }

                      }
                      div.proficencybonus{
                          display: flex;
                          flex-direction: row-reverse;
                          justify-content: flex-end;

                          input{
                              width: var(--small-box-width);
                              height: var(--small-box-width) - 2;
                              border: 1px solid black;
                              text-align: center;
                              border-radius: var(--radius);
                          }
                      }

                      div.list-section{
                               border: 1px solid black;
                               border-radius: var(--radius);
                               padding: var(--gutter) var(--gutter) / 2;
                               div.label{
                                    margin-top: var(--gutter);
                                    margin-bottom: var(--gutter) / 4;
                                    text-align: center;
                                    text-transform: uppercase;
                                    font-size: 10px;
                                    font-weight: bold;
                               }
                               ul li {
                                     display: flex;
                                     align-items: center;

                                     >*{
                                        margin-left: var(--gutter) /2;
                                     }

                                     label{
                                          text-transform: none;
                                          font-size: 8px;
                                          text-align: left;
                                          order: 3;

                                          span.skill{
                                                color: var(--faded-dark);
                                          }
                                     }
                                     input .clearfix[type="text"]{
                                               width: 30px;
                                               font-size:12px;
                                               text-align: center;
                                               border:0;
                                               border-bottom: 1px solid black;
                                               order: 2;
                                               .clearfix[type="checkbox"];
                                               appearance: none;
                                               widtth: var(--bubble-size);
                                               height: var(--bubble-size);
                                               border: 1px solid black;
                                               border-radius: var(--bubble-size);
                                               order: 1;
                                               .clearfix:checked {
                                                    background-color: black;
                                                }
                                     }
                               }
                      }

                      div.passive-perception{
                               display: flex;
                               flex-direction: row-reverse;
                               justify-content: flex-end;
                               input{
                                   width: var(--small-box-width);
                                   height: var(--small-box-width) - 2px;
                                   text-align: center;
                                   border: 1px solid black;
                                   border-radius: var(--radius);
                               }
                      }
                      div.otherprofs textarea{
                              height: 26em;
                      }

               }
           }
           section.combat{
                   background-color: var(--faded-light);
                   display: flex;
                   flex-wrap: wrap;
                   border-radius: var(--radius);
                   >div{
                        overflow: hidden;
                        armorclass{
                                 flex-basis: 33.333%;
                                 >div{
                                      display: flex;
                                      flex-direction: column-reverse;
                                      align-items: center;
                                      margin-top: var(--gutter);
                                      label{
                                            font-size: 8px;
                                            width: var(--large-box-width) - var(--radius) * 2;
                                            border: 1px solid black;
                                            background-color: var(--bg);
                                            text-align: center;
                                            padding-top: 5px;
                                            padding-bottom: 5px;
                                            border-radius: 0 0 var(--radius) var(--radius);
                                      }
                                      input{
                                            height: var(--large-box-width);
                                            width: var(--large-box-width);
                                            border-radius: var(--radius);
                                            border: 1px solid black;
                                            text-align: center;
                                            font-size: 30px;
                                      }
                                 }
                        }
                        initiative{
                             flex-basis: 33.333%;
                             >div{
                                display: flex;
                                flex-direction: column-reverse;
                                align-items: center;
                                margin-top: var(--gutter);
                                label{
                                    font-size: 8px;
                                    width: var(--large-box-width) - var(--radius) * 2;
                                    border: 1px solid black;
                                    background-color: var(--bg);
                                    text-align: center;
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                    border-radius: 0 0 var(--radius) var(--radius);
                                }
                                input{
                                     height: var(--large-box-width);
                                     width: var(--large-box-width);
                                     border-radius: var(--radius);
                                     border: 1px solid black;
                                     text-align: center;
                                     font-size: 30px;
                                }
                             }
                        }
                        speed{
                            flex-basis: 33.333%;
                            >div{
                                display: flex;
                                flex-direction: column-reverse;
                                align-items: center;
                                margin-top: var(--gutter);
                                label{
                                    font-size: 8px;
                                    width: var(--large-box-width) - var(--radius) * 2;
                                    border: 1px solid black;
                                    background-color: var(--bg);
                                    text-align: center;
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                    border-radius: 0 0 var(--radius) var(--radius);
                                }
                                input{
                                      height: var(--large-box-width);
                                      width: var(--large-box-width);
                                      border-radius: var(--radius);
                                      border: 1px solid black;
                                      text-align: center;
                                      font-size: 30px;
                                }
                            }
                        }
                         .clearfix.hp{
                           flex-basis: 100%;

                           >div.regular{
                               background-color: var(--bg);
                               border: 1px solid black;
                               margin: var(--gutter);
                               margin-bottom: var(--gutter) / 2;
                               border-radius: var(--radius) var(--radius) 0 0;

                               >div.max{
                                    display: flex;
                                    justify-content: space-around;
                                    align-items: baseline;

                                    label{
                                         font-size: 10px;
                                         text-transform: none;
                                         color: var(--faded-dark);
                                    }
                                    input{
                                        width: 40%;
                                        border: 0;
                                        border-bottom: 1px solid var(--faded);
                                        font-size: 12px;
                                        text-align: center;
                                    }
                               }

                               >div.current{
                                   display: flex;
                                   flex-direction: column-reverse;

                                   input{
                                       border: 0;
                                       width: 100%;
                                       padding: 1em 0;
                                       font-size: 20px;
                                       text-align: center;
                                   }
                                   label{
                                          font-size: 10px;
                                          padding-bottom: 5px;
                                          text-align: center;
                                          font-weight: bold;
                                   }
                               }
                               >div.temporary{
                                    margin: var(--gutter);
                                    margin-top: 0;
                                    border: 1px solid black;
                                    border-radius: 0 0 var(--radius) var(--radius);
                                    display: flex;
                                    flex-direction: column-reverse;
                                    background-color: var(--bg);
                                    input{
                                        padding: 1em 0;
                                        font-size: 20px;
                                        border: 0;
                                        text-align: center;
                                    }
                                    label{
                                        font-size: 10px;
                                        padding-bottom: 5px;
                                        text-align: center;
                                        font-weight: bold;
                                    }
                               }

                           }
                        }
                              .clearfix.hitdice, .clearfix.deathsaves{
                                 --height: 100px;
                                 flex: 1 50%;
                                 height: var(--height);

                              >div{
                                 height: var(--height) - var(--gutter) * 2;

                               }
                        }
                           .clearfix.hitdice > div{
                           background-color: var(--bg);
                           margin: var(--gutter);
                           border: 1px solid black;
                           border-radius: var(--radius);
                           display: flex;
                           flex-direction: column;

                           >div.total{
                                display: flex;
                                align-items: baseline;
                                justify-content: space-around;
                                padding: var(--gutter) / 2 0;

                                label{
                                  font-size: 10px;
                                  color: var(--faded-dark);
                                  margin: 0.25em;
                                  text-transform: none;
                                }

                                input{
                                    font-size: 12px;
                                    flex-grow: 1;
                                    border: 0;
                                    border-bottom: 1px solid var(--faded);
                                    width: 50%;
                                    margin-right: 0.25em;
                                    padding: 0 0.25em;
                                    text-align: center;
                                }
                           }

                           >div.remaining {
                               flex: 1;
                               display: flex;
                               flex-direction: column-reverse;
                           }
                           label{
                                  text-align: center;
                                  padding: 2px;
                                  font-size: 10px;
                           }
                           input{
                                 text-align: center;
                                 border: 0;
                                 flex: 1;
                           }

                        }
                        deathsaves {

                                 > div{
                                    margin: var(--gutter);
                                    background: var(--bg);
                                    border: 1px solid black;
                                    border-radius: var(--radius);
                                    display: flex;
                                    flex-direction: column-reverse;
                                    > div.label{
                                         text-align: center;
                                         label{
                                              font-size: 10px;
                                         }
                                    }
                                    >div.marks{
                                    display: flex;
                                    flex: 1;
                                    flex-direction: column;
                                    justify-content: center;

                                    div.deathsuccesses, div.deathfails{
                                          display: flex;
                                          align-items: center;
                                          >*{
                                              label{
                                                  font-size: 8px;
                                                  text-align: right;
                                                  flex: 1 50%;
                                              }
                                          }
                                    }
                                    div.bubbles{
                                         flex: 1 40%;
                                          margin-left: var(--gutter) / 2;

                                          input[type="checkbox"]{
                                               appearance: none;
                                               width: var(--bubble-size);
                                               height: var(--bubble-size);
                                               border: 1px solid black;
                                               border-radius: var(--bubble-size);
                                               .clearfix:checked {
                                                     background-color: black;
                                               }
                                          }
                                    }
                                 }
                        }

                   }

           }
           section.attacksandsoellcasting{
                    border: 1px solid black;
                    border-radius: var(--radius);
                    margin-top: var(--gutter);

                    >div{
                        margin: var(--gutter);
                        display: flex;
                        flex-direction:column;

                        >label{
                            order: 3;
                            text-align: center;
                        }
                        >table{
                             width: 100%;

                             th{
                                 font-size: 10px;
                                 color: var(--faded);
                             }
                             input{
                                 width: calc(100% - 4px);
                                 border: 0;
                                 background-color: var(--faded-light);
                                 font-size: 10px;
                                 padding: 3px;
                             }
                        }
                        textarea{
                             border: 0;
                        }

                    }
           }
           section.equipment{
                  border: 1px solid black;
                  border-radius: var(--radius);
                  margin-top: var(--gutter);

                  >div{
                        padding: var(--gutter);
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                  }
>div.money{
    --labelwidth: 20px;
    --labelpadding: 3px;
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
>li{
    display: flex;
    align-items: center;
label{
    border: 1px solid black;
    border-radius: var(--radius) 0 0 var(--radius);
    border-right: 0;
    width: var(--labelwidth);
    font-size: 8px;
    text-align: center;
    padding: var(--labelpadding) 0;
}
input{
    border: 1px solid black;
    border-radius: var(--radius);
    width: 40px;
    padding: 10px 3px;
    font-size: 12px;
    text-align: center;
}
}
}
>label{
    order: 3;
    text-align: center;
    flex: 100%;
}
>textarea{
    flex: 1;
    border: 0;
}
}

section.flavor{
    padding: var(--gutter);
    background: var(--faded-dark);
    border-radius: var(--radius);
div{
    background: var(--bg);
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    border: 1px solid black;

label{
    text-align: center;
    font-size: 10px;
    margin-top: 3px;
}

textarea{
    border: 0;
    border-radius:0;
    height: 4em;
}

.clearfix:first-child {
     border-radius: var(--radius) var(--radius) 0 0;
 }
.clearfix:not(:first-child){
     margin-top: var(--gutter);
 }
.clearfix:last-child{
     border-radius: 0 0 var(--radius) var(--radius);
 }

}
section.features{
    padding: var(--gutter);
    border: 1px solid black;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column-reverse;
label{
    text-align: center;
}
textarea{
    border: 0;
    padding: 5px;
    height: 43em;
}
}
}
           }

       }
    }

}



